<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Betting application</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<ul class="nav">
    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
    <li class="nav-link" th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}"> Log Out</a></li>  <!-- ODE SAN STAVIJA AKO JE LOGIRAN DA SE VIDI OVAJ LINK-->
    <li class="nav-link" th:unless="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/login}">Log In</a></li>  <!-- ODE SAN STAVIJA AKO NIJE LOGIRAN DA SE VIDI OVAJ LINK, ZNACI KAD SE ULOGIRA NECE SE VIDIT LOGIN I REGISTER STA JE LOGICNO-->
    <li class="nav-link" th:unless="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/register}">Register</a></li>

</ul>
<br>
<h2>User registered successfully!</h2>

<!-- display first name, last name and email -->
<ul>
    <li th:text="'User name: ' + ${webUser.username}"></li> <!-- pozivamo preko modela-->
    <li th:text="'First name: ' + ${webUser.firstName}"></li>
    <li th:text="'Last name: ' + ${webUser.lastName}"></li>
    <li th:text="'Email name: ' + ${webUser.email}"></li>
</ul>

<hr>
</body>
</html>